/**************************************************

BASE

****************************************************/

#main img {
    max-width: 100%;
    height: auto;
}

/* title */


/* table */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table,
tbody,
tr {
    width: 100%;
    height: auto !important;
    border: none;
    box-sizing: border-box;
}

th,
td {
    padding: 15px;
    border: 5px solid #fff;
    background: #f9f9f9;
    font-size: 1.6rem;
    line-height: 1.7;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
}

th {
    background: #92c6e4;
}

/* anchorlink */

.anchorlink {
    margin-bottom: 50px;
    padding: 15px;
    background: #f8f8f8;
}

.anchorlink li {
    display: inline-block;
}

.anchorlink li a {
    text-decoration: none;
}

.anchorlink li a:hover,
.anchorlink li.current_page_item a {
    font-weight: bold;
    opacity: 1;
}


/* pagenation */

.pagination {
    position: relative;
    clear: both;
    padding: 20px 0;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.pagination-box {
    display: inline-block;
}

.pagination span,
.pagination a {
    display: block;
    float: left;
    width: auto;
    margin: 2px 2px 2px 0;
    padding: 10px 15px 10px 15px;
    background: #d2d2d2;
    color: #333;
    text-decoration: none;
}

.pagination a:hover {
    background: #dc1d1e;
    color: #fff;
}

.pagination .current {
    padding: 10px 15px 10px 15px;
    background: #dc1d1e;
    color: #fff;
}

@media only screen and (max-width: 413px) {
    .pagination {
        font-size: 12px;
        line-height: 12px;
    }

    .pagination span,
    .pagination a {
        padding: 8px 10px 8px 10px;
    }

    .pagination .current {
        padding: 8px 10px 8px 10px;
    }
}

/*************************************************

CONTENTS

****************************************************/




/* Contact
*********************************************************/

#contact .catch01 {
    margin-bottom: 40px;
    padding: 20px;
    width: 100%;
    background: #FAFAFA;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8;
    box-sizing: border-box;
}

#contact .catch01 span {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
}

#contact .catch01 span+span {
    margin-left: 30px;
}

#contact .catch01 span a {
    color: #293C8D;
    font-size: 2.6rem;
}

#contact h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#contact.entry.check .check-agree,
#contact.confirm .check-agree {
    display: none;
}

#contact table li {
    display: inline-block;
}

#contact .wrap-form {
    margin-top: 50px;
    padding: 80px;
    background: #FAFAFA;
}

#contact table {
    width: 100%;
    border: none;
}

#contact table th,
#contact table td {
    padding: 15px;
    border: none;
    background: none;
    font-size: 1.6rem;
    vertical-align: middle;
    text-align: left;
}

#contact table th {
    position: relative;
    width: 250px;
    padding-top: 29px;
    padding-bottom: 0;
    color: #333;
    vertical-align: top;
}

#contact.confirm table th {
    padding: 15px;
}

#contact table table {
    margin: 0;
}

#contact table table th,
#contact table table td {
    border: none;
    background: none;
}

#contact table table th,
#contact.confirm table table th {
    width: 190px;
    padding: 15px 15px 15px 0;
    color: #333;
    font-weight: normal;
    vertical-align: middle;
}

#contact table table td {
    padding: 15px 0;
}

#contact table table tr:first-child th,
#contact table table tr:first-child td {
    padding-top: 0;
}

#contact table table tr:last-child th,
#contact table table tr:last-child td {
    padding-bottom: 0;
}

#contact label {
    font-weight: normal;
}

#contact span.red {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 25px;
    padding: 8px 15px;
    background: #c50000;
    color: #fff;
    font-size: 1.4rem;
    font-weight: normal;
}

#contact span.gray {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 25px;
    padding: 8px 15px;
    background: #999;
    color: #fff;
    font-size: 1.4rem;
    font-weight: normal;
}

#contact.confirm span.gray,
#contact.confirm span.red {
    top: 12px;
}

#contact .check-agree {
    padding: 0 15px;
    font-size: 1.6rem;
}

#contact .check-agree a {
    color: #1d3bb4;
}

#contact .agree-wrap {
    margin: 20px 0 40px;
    padding: 10px;
    font-size: 1.6rem;
    box-sizing: border-box;
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=tel] {
    width: 500px;
    padding: 15px;
    background: #fff;
}

#contact input[type=text].var01 {
    width: 10em;
}

#contact input.var02,
#contact input.var03 {
    width: 8em;
}

#contact input[type=checkbox] {
    display: inline-block;
    margin-right: 0.5em;
}

#contact input[type=checkbox]+label {
    display: inline-block;
    margin-bottom: 5px;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="submit"],
input[type="image"],
textarea,
select {
    border-radius: 0;
    border: 1px solid #ddd;
    -webkit-appearance: none;
}

#contact input[type="radio"] {
    display: none;
}

#contact input[type="radio"]+.mwform-radio-field-text {
    position: relative;
    margin-right: 20px;
    padding-left: 20px;
}

#contact input[type="radio"]+.mwform-radio-field-text::before {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    content: "";
    box-sizing: border-box;
    transform: translateY(-50%);
}

#contact input[type="radio"]:checked+.mwform-radio-field-text::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #605834;
    content: "";
    transform: translateY(-50%);
}

select::-ms-expand {
    display: none;
}

#contact select {
    max-width: 20em;
    height: 48px;
    margin-right: 5px;
    padding: 0 45px 0 15px;
    background: url(../../images/common/ico_arrow_select.png) no-repeat right 10px center #fff;
}

#contact textarea {
    width: 100%;
    height: 10em;
    padding: 15px;
    background: #fff;
    box-sizing: border-box;
}


#contact .bg-danger {
    margin-top: 5px;
    padding: 10px;
}

#contact .btnWrap01 {
    padding: 25px 0 0;
    overflow: hidden;
}

#contact .btnWrap01 p {
    font-size: 1.4rem;
}

#contact input[type=submit],
#contact .btnWrap01 a,
#contact .fm-modoru {
    appearance: none;
    border: none;
    width: 300px;
    line-height: 65px;
    background: #004072;
    color: #fff;
    display: block;
    margin: 20px auto 0;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#contact input[type=submit]:hover,
#contact .btnWrap01:hover,
#contact .fm-modoru:hover {
    opacity: 0.6;
    transition: all 0.3s;
}

#contact .fm-modoru {
    margin: 0 auto;
    background: #666 !important;
    color: #fff;
}

#contact .btnWrap01 a.btn01 {
    background: #666 !important;
    color: #fff;
}

#contact .wrap03 {
    margin-bottom: 20px;
    padding: 0 15px;
}

#contact .wrap03 p {
    padding: 15px;
    background: #ededed;
    font-size: 0.9rem;
}

body .mw_wp_form .error {
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
    background-color: #f2dede;
    color: #c50000;
}

#contact .mwform-checkbox-field input[type="checkbox"] {
    display: none;
}

.mwform-checkbox-field .mwform-checkbox-field-text::before {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(../../images/common/checkoff.png) no-repeat 0 0;
    vertical-align: middle;
    content: '';
}

.mwform-checkbox-field input[type="checkbox"]:checked+.mwform-checkbox-field-text::before {
    background: url(../../images/common/checkon.png) no-repeat 0 0;
}

#contact .text01 + .text01{
    margin-top: 20px;
}

@media screen and (max-width:828px) {

    #contact .catch01 span+span {
        margin-left: 0;
    }

    #contact input[type="file"] {
        width: 100%;
        box-sizing: border-box;
    }

    #contact .catch01 span,
    #contact h2 {
        font-size: 2rem;
    }

    #contact .catch01 br {
        display: none;
    }

    #contact .catch01 span {
        display: block;
    }

    #contact .catch01 span+span {
        padding-left: 0;
    }

    #contact table th,
    #contact table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    #contact table td input[type=text],
    #contact table td input[type=email],
    #contact table td input[type=tel] {
        width: 100%;
        box-sizing: border-box;
    }

    #contact table td input.var02 {
        width: 80px;
        box-sizing: border-box;
        padding: 15px 10px;
    }

    #contact table td input[type=text].var01 {
        width: 100%;
        margin-bottom: 10px;
    }

    #contact table td input.var03 {
        width: 6em;
    }

    #contact table td input.var03+br+input.var01 {
        margin-top: 20px;
    }

    #contact input[type=submit],
    #contact .btnWrap01 a,
    #contact .fm-modoru {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .btnWrap01 {
        text-align: center;
    }

    #contact .wrap-form {
        padding: 10px;
    }

    #contact.confirm .wrap-form {
        padding: 10px 10px 40px;
    }

    #contact table th {
        padding: 15px 15px 15px 60px;
        vertical-align: middle;
    }
    
    #contact .mw_wp_form_confirm table th{
        padding: 0 15px 0 60px;
    }

    #contact table td{
        padding:15px 0;
    }

    #contact span.gray,
    #contact span.red {
        top: 50%;
        transform: translateY(-50%);
        right: auto;
        left: 0;
        padding: 3px 10px;
    }
}

@media screen and (min-width:829px) and (max-width:1200px) {

    #contact table table,
    #contact table table tbody,
    #contact table table tr,
    #contact table table th,
    #contact table table td {
        display: block;
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

}

/* privacy-policy
********************************************************/

#privacy-policy dt {
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: bold;
}

#privacy-policy dd {
    margin-bottom: 45px;
    font-size: 1.6rem;
}

#privacy-policy li{
    position: relative;
    padding-left:15px;
    font-size:1.6rem;
    line-height:1.7;
}

#privacy-policy li::before{
    content:'ãƒ»';
    position: absolute;
    left:0;
    top:0;
}

/* news
*********************************************************/
#news .section01 {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px dotted #ddd;
}

#news .section01 .columns {
    justify-content: space-between;
}

#news .section01 .news__img {
    flex-basis: 38%;
}

#news .section01 .news__txt {
    flex-basis: 56%;
}

#news .section01:last-of-type,
#news .section01.var01 {
    margin-bottom: 0;
    border: none;
}

#news .section01 .news__date {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
}

#news .section01 .news__title {
    margin-bottom: 15px;
    color: #004499;
    font-size: 2.2rem;
}

#news .section01 .news__title a {
    color: inherit;
    text-decoration: none;
}

#news .section01 .inner01 {
    font-size: 1.6rem;
    line-height: 1.8;
}

#news .wp-pagenavi a,
#news .wp-pagenavi span {
    padding: 0;
}

#news.news-single .wp-pagenavi a,
#news.news-single .wp-pagenavi span{
    line-height: 1.6;
}

#news.news-single .wp-pagenavi{
    display: flex;
    justify-content: space-between;
}

#news.news-single .wp-pagenavi div{
    flex-basis: 47%;
}

#news.news-single .wp-pagenavi__next{
    text-align: right;
}

.wp-pagenavi span.pages {
    padding: 0 10px !important;
}

/* Smartphone side + Tablet Vertical */
@media screen and (max-width:828px) {

    #news.news-single .wp-pagenavi{
        flex-direction: column;
        align-items: center;
    }

    #news.news-single .wp-pagenavi div{
        flex-basis: 100%;
    }

    #news.news-single .wp-pagenavi__next{
        text-align: center;
    }

}

/* Smartphone Vertical */
@media screen and (max-width:415px) {

    #news .section01 .columns {
        flex-direction: column;
    }

    #news .section01 .news__img {
        margin-bottom: 20px;
    }
}

/* not-found
*********************************************************/

#not-found .title-404{
    font-size:18rem;
    line-height: 1.1;
    margin-bottom:50px;
    color:#ddd;
}

#not-found .title-404 small{
    font-size:6rem;
    display: block;
}

#not-found .catch{
    font-size:3rem;
    display: block;
    line-height: 1.7;
    margin-bottom: 20px;
}

#not-found .wrap-btn{
    margin-top:80px;
}

/* Smartphone side + Tablet Vertical */
@media screen and (max-width:828px) {
    
    #not-found .title-404{
        font-size:11rem;
        margin-bottom:30px;
    }

    #not-found .title-404 small{
        font-size:3.5rem;
    }

    #not-found .wrap-btn {
        margin-top: 40px;
    }

    #not-found .catch{
        font-size:2rem;
    }

}

/* Smartphone Vertical */
@media screen and (max-width:415px) {

    #not-found .catch,
    #not-found p{
        text-align: left;
    }

}


/* Responsive
*********************************************************/

/* Tablet side Only */
@media screen and (min-width:829px) and (max-width:1200px) {}

/* Smartphone side + Tablet Vertical */
@media screen and (max-width:828px) {

    body #swipebox-close {
        left: 0;
        right: auto;
    }
}

/* Smartphone Vertical */
@media screen and (max-width:415px) {

    #contact .mwform-radio-field {
        display: block;
    }

    .mw_wp_form .horizontal-item+.horizontal-item {
        margin-left: 0;
    }
}
